# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Вспомогательные файлы
*.log
npm-debug.log*
node_modules/

# Папка с собранными файлами проекта
build/

# Локальные файлы конфигураций
.env
